body {
    background-color: aliceblue;
    text-align: center;
    font-family: 'Merriweather', serif;
    
    }
    h1 {
        font-size:5.625rem;
        margin: auto;
        font-family: 'Sacramento', cursive;
    }
    h2 {
        color: #11999E;
        font-size:2.5rem;
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 10px;
    }
    h3 {
        font-family: 'Montserrat', sans-serif;
        color: rosybrown;
    }
    hr {
        border: dotted#444b4b 6px ;
        border-bottom: none;
        width: 4%;
        margin: 100px auto;
    }
    a {
        color: #3ade55;
        margin: 10px 20px;
        text-decoration: none;
        font-family: 'Merriweather', serif;

    }
    a:hover {
        color: #518d78;
    }
    .top-container {
        background-color: #66BFBF;
        padding-top: 100px;
        position: relative;

    }
    .middle-container 
{
margin: 100px 0;
}

    
.bottom-container {
        background-color: #11999E;
        padding: 50px 0;
        

    }
    .profile-pic {
        border-radius: 50%;
        height: 200px;
        width: 200px;
    }
    .bottom-cloud {
        position: absolute;
        left: 400px;
        bottom: 300px;
    }
    .top-cloud {
        position: absolute;
        top: 50px;
        right: 400px;
    }
.delhi {
    width: 80%;
    border-radius: 50%;
}
    p {
        line-height: 2;
    }
    .Customer-Relationship { 
        border-radius: 50%;
        float: left;
        margin-right: 40px;
        height: 200px;
        width: 200px;

    }
    .linkedin {
        width: 3%;
    }
    .facebook {
        width: 3%;
    }
    .Team-Management {
        border-radius: 50%;
        float: right;
        height: 200px;
        margin-left: 40px;
        width: 200px;

    }
    .skill-row {
        width: 50%;
        margin: 100px auto 100px auto;
        text-align: left;
        line-height: 2; 
    }
    .intro {
        width: 30%;
        margin: auto;

    }
    .contact-messaging {
        width: 40%;
        margin: 40px auto 60px auto;

    }
    .copyright {
        font: size 7px;
        padding: 20px 0;
    }
    .BUTTON_RFT {
        background: #3DF6EF;
        background-image: -webkit-linear-gradient(top, #3DF6EF, #1E62D0);
        background-image: -moz-linear-gradient(top, #3DF6EF, #1E62D0);
        background-image: -ms-linear-gradient(top, #3DF6EF, #1E62D0);
        background-image: -o-linear-gradient(top, #3DF6EF, #1E62D0);
        background-image: -webkit-gradient(to bottom, #3DF6EF, #1E62D0);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        color: #FFFFFF;
        font-family: Helvetica;
        font-size: 22px;
        font-weight: 100;
        padding: 18px;
        -webkit-box-shadow: 1px 1px 20px 0 #000000;
        -moz-box-shadow: 1px 1px 20px 0 #000000;
        box-shadow: 1px 1px 20px 0 #000000;
        text-shadow: 1px 1px 20px #000000;
        border: solid #337FED 1px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
     }
     
     .BUTTON_RFT:hover {
        border: solid #337FED 0;
        background: #1E62D0;
        background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
        background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
        background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
        background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
        background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-decoration: none;
     }